.back {
  padding: 0.375rem 1.4375rem;
  width: 7.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 7px 0px hsla(0, 0%, 0%, 0.29);
  text-decoration: none;
  color: var(--clr-text);
  margin-bottom: 4rem;

  @include med {
    width: 8.5rem;
  }
}
