.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  gap: 2.5rem;
  padding-top: 2rem;

  @include xl {
    gap: 4.625rem;
    padding-top: 3rem;
  }
}
