:root {
  //Colors
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark-primary: hsl(209, 23%, 22%);
  --clr-dark-bg: hsl(207, 26%, 17%);
  --clr-light-body: hsl(200, 15%, 8%);
  --clr-light-input: hsl(0, 0%, 52%);
  --clr-light-bg: hsl(0, 0%, 98%);

  // Font-weights
  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-xbold: 800;
}
