*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--clr-text);
  background-color: var(--clr-background);
}

h1 {
  font-size: clamp(0.875rem, 4.2vw, 1.5rem);
  line-height: 1.43;
  font-weight: var(--fw-bold);
  margin: 0;
}

main {
  padding-top: 2rem;

  @include xl {
    padding-top: 5rem;
  }
}

a,
button,
input {
  &:focus {
    outline: 2px dotted var(--clr-text);
    outline-offset: 4px;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

li {
  list-style: none;
}
